<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="portalusersRestAPI" value=""/>
    <add key="FeatureService"  value=""/>
    <add key="Token_ClientHost" value="" />
  </appSettings>
  <connectionStrings>
   
    <add name="USDatabase" connectionString="Data Source=DESKTOP-BB5HAHA;Initial Catalog=USPROJ;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="USDatabase1" connectionString="Data Source=182.50.133.77:3306;Initial Catalog=USDatabase;Integrated Security=false User ID=ekfb; Password=7e2~Fqp8; Trusted_Connection=False;" providerName="MySql.Data.MySqlClient"/>
    <add name="USDatabase_online" connectionString="Data Source=database-3.cwcwv4lshcoa.ap-south-1.rds.amazonaws.com;Initial Catalog=UKPROJ;Integrated Security=false;User ID=admin; Password=admin123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE,     OPTIONS"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>